* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background: white; }

.navbar {
  display: flex;
  padding: 40px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .navbar ul {
    position: right 10px; }
  .navbar li {
    display: inline-block; }
  .navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
    border-bottom: solid 1px rgba(95, 90, 90, 0.5);
    letter-spacing: 2px; }
    .navbar a:hover {
      color: #5f5252;
      font-size: 22px;
      transition: 0.5s;
      letter-spacing: 3px; }

h1 {
  color: #313030;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  border-bottom: solid 1px rgba(201, 196, 196, 0.5);
  border-top: solid 1px rgba(201, 196, 196, 0.5); }

@media (max-width: 575px) {
  footer {
    width: 100%; }
  img {
    width: 100%; } }
/* index */
.img2 {
  display: flex;
  justify-content: flex-end; }

.img1 {
  display: flex;
  justify-content: flex-start; }

.imagen-menu {
  display: flex;
  flex-wrap: nowrap;
  background: #e7e7e7;
  margin-bottom: 15px;
  margin-left: 15px;
  text-align: center;
  align-items: center;
  border: solid 1px;
  border-radius: 7px;
  width: 60%;
  overflow: auto;
  transform: rotateX(360deg);
  transition: transform 3s; }
  .imagen-menu img {
    width: 70%; }
  .imagen-menu:hover {
    transform: rotateY(0deg); }

.imagen-menu2 {
  display: flex;
  flex-wrap: nowrap;
  background: #e7e7e7;
  margin-bottom: 15px;
  margin-right: 15px;
  text-align: center;
  align-items: center;
  border: solid 1px;
  border-radius: 7px;
  width: 60%;
  overflow: auto;
  transform: rotateX(360deg);
  transition: transform 3s; }
  .imagen-menu2:hover {
    transform: rotateY(0deg); }

header img {
  width: 100%; }

.parrafo {
  display: flex; }

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute; }
  .imagen-menu {
    width: 50%;
    display: inline-block; }
  .imagen-menu2 {
    width: 50%;
    display: inline-block; }
  .imagen-menu2 img {
    width: 70%; }
  .imagen-menu p {
    display: inline-block; } }
/* contacto */
.container {
  background: #7fa9c9;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 850px; }

#container {
  background-color: #aaa4a2; }

legend {
  color: #ebe5e5; }
/* productos */
.productos1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  background-color: #eeeeeb; }

.productos {
  display: flex;
  justify-content: space-around;
  grid-column: 2 / 12;
  grid-row: 4;
  text-align: center; }

.contenedor {
  display: block;
  align-content: center; }

.contenedor {
  display: block;
  align-content: center; }

h4 b {
  color: black; }

.card {
  transition: 1s;
  border: #a7b2b9 solid 5px;
  border-radius: 10px;
  margin: 5px;
  object-fit: cover; }
  .card button:hover {
    transition: 1s;
    border: #a7b2b9 solid 5px;
    border-radius: 10px;
    margin: 5px;
    object-fit: cover; }

.btn-comprar {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #131212;
  background-color: #969a9c;
  padding: 10px;
  border-radius: 4px; }
/* ubicacion */
section iframe {
  display: inline-block;
  margin-left: 30%; }
/* galeria */
.galeria {
  border: solid 1px;
  border-radius: 5px; }
