/* general */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #eeeeeb; }

.navbar {
  display: flex;
  padding: 40px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .navbar ul {
    position: right 10px; }
  .navbar li {
    display: inline-block; }
  .navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 30px;
    border-bottom: solid 1px rgba(95, 90, 90, 0.5);
    letter-spacing: 2px; }
    .navbar a:hover {
      color: #5f5252;
      font-size: 22px;
      transition: 0.5s;
      letter-spacing: 3px; }

h1 {
  color: #313030;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  border-bottom: solid 1px rgba(201, 196, 196, 0.5);
  border-top: solid 1px rgba(201, 196, 196, 0.5); }

footer {
  margin-top: 10px; }

@media (max-width: 600px) {
  footer {
    width: 100%; }
  img {
    width: 100%; } }

/* index */
.img2 {
  display: flex;
  justify-content: flex-end; }

.img1 {
  display: flex;
  justify-content: flex-start; }

.imagen-menu, .imagen-menu2 {
  display: flex;
  flex-wrap: nowrap;
  background: #d1c7c7;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  border: solid 1px;
  border-radius: 7px;
  width: 60%;
  overflow: auto;
  transform: rotateX(360deg);
  transition: transform 3s;
  margin-left: 15px;
  margin-right: 15px; }
  .imagen-menu img, .imagen-menu2 img {
    width: 70%; }
  .imagen-menu:hover, .imagen-menu2:hover {
    transform: rotateY(0deg); }

header img {
  width: 100%; }

.parrafo {
  padding: 5px; }

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute; }
  .imagen-menu, .imagen-menu2 {
    width: 50%;
    display: inline-block; }
  .imagen-menu2 {
    width: 50%;
    display: inline-block; }
  .imagen-menu2 img {
    width: 70%; }
  .imagen-menu p, .imagen-menu2 p {
    display: inline-block; } }

@media (max-width: 600px) {
  .imagen-menu, .imagen-menu2 {
    display: block;
    width: 100%; } }

/* contacto */
.container {
  background: #7fa9c9;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 850px; }

#container {
  background-color: #aaa4a2; }

legend {
  color: #ebe5e5; }

@media (max-width: 600px) {
  .container {
    display: block;
    width: auto; } }

/* productos */
.productos1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  background-color: #eeeeeb; }

.productos {
  display: flex;
  justify-content: space-around;
  grid-column: 2 / 12;
  grid-row: 4;
  text-align: center; }

h4 b {
  color: black;
  font-family: Arial, Helvetica, sans-serif; }

.card {
  transition: 1s;
  border: solid 1px;
  border-radius: 7px;
  margin: 5px;
  object-fit: cover;
  box-shadow: 7px 7px 5px #888; }
  .card button:hover {
    transition: 1s;
    border: #a7b2b9 solid 5px;
    border-radius: 10px;
    margin: 5px;
    object-fit: cover; }

.btn-comprar {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #3f3d3d;
  background-color: #969a9c;
  padding: 10px;
  border-radius: 4px; }

.card button,
.card button:hover button {
  padding: 1px;
  color: white;
  text-align: center;
  width: 90%;
  font-size: 20px; }

@media (max-width: 600px) {
  .productos {
    display: inline-block; } }

/* ubicacion */
section h2 {
  text-align: center;
  margin: 10px; }

.mapa {
  display: flex;
  justify-content: center; }

/* galeria */
.row {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px; }
