/* index */
.img2 {
    display: flex;
    justify-content: flex-end;
}

.img1 {
    display: flex;
    justify-content: flex-start;
}
$imagenes-menu: (
    color: rgb(209, 199, 199),
    alineacion: center
);
@mixin margen ($margen-top, $margen-bot){
    margin-top: $margen-top;
    margin-bottom: $margen-bot;
}
.imagen-menu {
    display: flex;
    flex-wrap: nowrap;
    background: map-get($imagenes-menu, color);
    @include margen(10px, 10px);
    text-align: map-get($imagenes-menu, alineacion);
    align-items: map-get($imagenes-menu, alineacion);
    border: solid 1px;
    border-radius: 7px;
    width: 60%;
    overflow: auto;
    transform: rotateX(360deg);
    transition: transform 3s;
    margin-left: 15px;
    margin-right: 15px;
    img {
        width: 70%;
    }

    &:hover {
        transform: rotateY(0deg);
    }
}

.imagen-menu2 {
@extend .imagen-menu;

}
header img {
    width: 100%;
}
.parrafo {
    
    padding: 5px;
}
@media screen and (max-width: 768px) {
    .navbar{
    position: absolute;
    }
    .imagen-menu {
    width: 50%;
    display: inline-block;
    }
    .imagen-menu2 {
    width: 50%;
    display: inline-block;
    }
    .imagen-menu2 img {
    width: 70%;
    }
    .imagen-menu p {
    display: inline-block;
    }
}
@media (max-width:600px){
    .imagen-menu{
        display: block;
        width: 100%;
    }
}