.productos1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    background-color: #eeeeeb;
}
.productos {
    display: flex;
    justify-content: space-around;
    grid-column: 2 / 12;
    grid-row: 4;
    text-align: center;
}


h4{
    b{
        color: black;
        font-family:Arial, Helvetica, sans-serif;
    }
}
.card{
    transition: 1s;
    border: solid 1px;
    border-radius: 7px;
    margin: 5px;
    object-fit: cover;
    box-shadow: 7px 7px 5px #888;
    & button:hover{ transition: 1s;
        border: #a7b2b9 solid 5px;
        border-radius: 10px;
        margin: 5px;
        object-fit: cover;
    }
}
.btn-comprar {
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(63, 61, 61);
    background-color: rgb(150, 154, 156);
    padding: 10px;
    border-radius: 4px;
}

.card button, .card button:hover button {
    
    padding: 1px;
    color: white;
    text-align: center;
    width: 90%;
    font-size: 20px; 
}


@media (max-width: 600px){
    .productos{
        display: inline-block;
    }
}